body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

textarea {
    width: 80%;
    height: 60%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
}
/* Grüner Senden-Button */
.button-3k0cO7.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-2VGNaP {
    background-color: #43b581 !important; /* Hintergrundfarbe */
    border-color: #43b581 !important; /* Rahmenfarbe */
    color: #fff !important; /* Textfarbe */
}

/* Hover-Effekt für den grünen Button */
.button-3k0cO7.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-2VGNaP:hover {
    background-color: #3ca374 !important; /* Hintergrundfarbe beim Überfahren */
    border-color: #3ca374 !important; /* Rahmenfarbe beim Überfahren */
}
